$color-names: 'primary', 'neutral', 'success', 'info', 'danger', 'warning';

.btn {
  transition: all 0.125s ease-in-out;
  z-index: 2;
  @apply flex py-2 px-4 shadow text-sm font-medium cursor-pointer relative whitespace-no-wrap leading-4 rounded-lg;
  &.no-shadow {
    @apply shadow-none;
    &:before {
      display: none !important;
    }
    &:hover {
      &:before {
        display: none !important;
      }
    }
    &:active {
      &:before {
        display: none !important;
      }
    }
  }
  &.disabled {
    @apply opacity-50 text-light cursor-default;
    &:before {
      display: none !important;
    }
    &:hover {
      transform: translateY(0) !important;
      &:before {
        display: none !important;
      }
    }
    &:active {
      transform: translateY(0) !important;
      &:before {
        display: none !important;
      }
    }
  }
  &.no-title {
    @apply px-2;
  }
  &__reverse {
    @apply flex-row-reverse;
  }
  &__content {
    @apply flex items-center justify-center w-full;
  }
  &__icon {
    @apply w-4 h-4 fill-current;
  }
}

@each $name in $color-names {
  .btn.btn-#{$name}-border {
    @apply border-2 border-#{$name} text-#{$name} shadow-none;
    &:hover {
      @apply border-#{$name}-hover text-#{$name}-hover;
    }
    &:active {
      @apply border-#{$name}-active text-#{$name}-active;
    }
  }
  .btn.btn-#{$name}-link {
    @apply text-#{$name} shadow-none;
    &:hover {
      @apply text-#{$name}-hover;
    }
    &:active {
      @apply text-#{$name}-active;
    }
  }
  .btn.btn-#{$name}-mono {
    background-image: none;
    @apply bg-#{$name} text-light;
    &:before {
      @include shadow-bg;
    }
    &:hover {
      @apply bg-#{$name}-hover;
      transform: translateY(-0.125rem);
      &:before {
        @include shadow-bg-hover;
      }
    }
    &:active {
      transform: translateY(-0.125rem);
      @apply bg-#{$name}-active;
      &:before {
        @include shadow-bg-active;
      }
    }
  }
  .btn.btn-#{$name} {
    @apply bg-gradient-to-tr from-#{$name}-gr-from to-#{$name}-gr-to text-light;
    &:before {
      @include shadow-bg;
    }
    &:hover {
      transform: translateY(-0.125rem);
      &:before {
        @include shadow-bg-hover;
      }
    }
    &:active {
      transform: translateY(-0.125rem);
      &:before {
        @include shadow-bg-active;
      }
    }
  }
}
