@mixin common-shadow($top, $blur) {
  transition: all 0.125s ease-in-out;
  z-index: -1;
  content: '';
  background: inherit;
  top: $top;
  filter: blur($blur);
  left: 10%;
  width: 80%;
}

@mixin shadow-bg {
  @include common-shadow(0.25rem, 0.5rem);
  @apply opacity-50 block absolute rounded-xl h-full;
}

@mixin shadow-bg-hover {
  @include common-shadow(0.5rem, 0.5rem);
  @apply opacity-50 block absolute rounded-xl h-full;
}

@mixin shadow-bg-active {
  @include common-shadow(0, 0.25rem);
  @apply opacity-25 block absolute rounded-xl h-full;
}
